.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}

.navbar {
  min-height: 56px;
}